body{
    margin: 10px;
}
header .hero{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
header .hero .logo{
    margin: auto;
}
header .hero nav{
    display: flex;
    margin-top: 48px;
}

header .hero nav ul{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    color: #DFAA5B;
}

header .hero nav ul li{
    list-style: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

}
.dropdown-container{
    background-color: #111111;
    height: 100px;
    width: 1400px;
    left: 0px;
    top: 241px;
    border-radius: 0px;
}

.rectangle{
    padding-top: 30px;
    padding-left: 300px;  
    border: none;
}

.rectangleDesign{
    border: none;
   color: #00000080;
   width: 192px;
   height: 45px;
   left: 0px;
   top: 268px;
   background: #FFFFFF;
   border-radius: 10px;
}

#CheckAvailability{
    background: #DFAA5B;
    color: white;
}


.banner{
    background-image: url('/image/banner.svg');
    height: 700px;
    background-repeat: no-repeat;

}
h2{
    /* padding-top: 193px; */
    position: absolute;
     padding: 230px;
     padding-top: 260px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 550;
    font-size: 70px;
    line-height: 106px;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
}



p{ 
    /* padding-top: 210px; */
    position: absolute;
    padding-left: 420px;
    padding-top: 390px;

    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
}

.explore{ 
    /* margin-top: 200px; */
    position: absolute;
   margin-left: 515px;
    margin-top: 465px;
    height: 50px;
    width: 250px;
    
    background: #DFAA5B;
    border-radius: 10px;
    border: none;

    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height */


color: #FFFFFF;
}


header .hero .calender-section{
    background-color: #111111;
    display: flex;
    height: 60px;
    margin-top: 30px;
}


/* facility section */

.Facilities-container{ 
    position: absolute;
    margin-top: 560px;
    margin-left: 135px;
    width: 1019px;
    height: 189px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    /* border-radius: 12px; */
    padding-bottom: 120px;
   
}

.Facilities-container .facility{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 250px;
    padding: absolute;
    bottom: 30px;
    left: 15%;
    background: #fff;
}

.Facilities-container .facility h3{


    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 52px;
    /* identical to box height */
    
    
    color: #957554;
    text-align: center;
    padding-left: 170px;
}

.Facilities-container .facility .MainFacilityIcon-Container{
    display: flex;
    /* flex-direction: column; */
    width: 60px;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    margin-left: 50px;
    
}

.Facilities-container .facility .MainFacilityIcon-Container .facilityIcon{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.Facilities-container .facility .MainFacilityIcon-Container .facilityIcon img{
    height: 48px;
    width: 54px;
    margin-bottom: 22px;
}

.Facilities-container .facility .MainFacilityIcon-Container .facilityIcon span{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
/* identical to box height */


color: #957554;
}

.searchButton{
    background-color: white;
}

.RoomsAndRates{
    /* margin-top: 270px; */
    position: absolute;
    margin-top: 270px;
    margin-left: 70px;
    margin-right: 100px;
    width: 1019px;
    /*height: 189px; */
    background: #FFFFFF;
    border-radius: 10px;
    /* border-radius: 12px; */
    padding-bottom: 120px;
    margin-top: 830px;

}



.rooms{
    margin: 30px;
}
.first-rooms{
    display: flex;
    padding-bottom: 60px;
   
}

.second-rooms{
    display: flex;
}

.StandardTwinRoom{
    position: relative;
    padding: 0px;
    margin-left: 30px;
    
}

.StandardRoom{
    position: relative;
    padding: 0px;
    margin-left: 30px;
}

.StandardViewRoom{
    position: relative;
    padding: 0px;
    margin-left: 30px;
}

.DeluxeRoom{
    position: relative;
    padding: 0px;
    margin-left: 30px;
}

.imgR{
    height: 400px;
    width: 500px;
}

 .RoomsAndRates .rates  .rooms .first-rooms .StandardRoom img{
     padding-top: 0px;
     padding-bottom: 30px;
     height: 400px;
     width: 500px;

}


.RoomsAndRatesh3{ 
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 52px;
    /* identical to box height */
    
    
    color: #957554;
    /* text-align: center; */
    padding-left: 420px;
}

.h3RoomRate{
    position: absolute;
    padding-top: 195px;
    padding-left: 100px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 46px;
    /* identical to box height */
    
    
    color: #FFFFFF;

}

.buttonR{
    position: absolute;
    margin-top: 280px;
    margin-left: 100px;
    position: absolute;
    width: 244px;
    height: 45px;

    background: #DFAA5B;
    border-radius: 10px;
    border: none;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
/* identical to box height */


    color: #FFFFFF;
}

.Book-section{
    /* border: 3px solid red; */
    width: 100%;
    margin-left: 60px;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;
    /* identical to box height */
    
    
    color: #957554;
}

.BookButton{
    width: 230px;
    height: 56px;
    
    background: #DFAA5B;
    border-radius: 10px;
    border: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}



/* Contact Dialog ?at the last layer of the first UI */

.Contact-Dialog{
    background-color: #111111;
    display: flex; 
    justify-content: space-between;
    margin-left: 135px;
    padding: 30px;
    margin-top: 150px;
      
}

.first-Contact-Div{
    color: #FFFFFF;
    margin: 20px;

}

.second-Contact-Div{
    display: flex;
    margin-right: 260px;

}

.Contact-Dialog .first-Contact-Div h3{
    color: #FFFFFF;
}

pre{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 28px;
    
    color: white;
}

.list-contact ul li{
    list-style: none;
    color: #FFFFFF;
    font-weight: 100;
    padding-bottom: 15px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    
    color: #FFFFFF;
}



.contactInput h3{
    color: #FFFFFF;
    position: absolute;
    width: 268px;
    height: 34px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    
    color: #FFFFFF;
    padding-top: 10px;
}

input{
    position: absolute;
    width: 251px;
    height: 65px;
    
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 100px;
    border: none;
}

.SubscribeButton{
    position: absolute;
    width: 251px;
    height: 65px;
    
    background: #DFAA5B;
    border-radius: 10px;
    margin-top: 190px;
    border: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

input::placeholder{
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
    /* identical to box height */
    
    
    color: rgba(0, 0, 0, 0.5);
}





.list-contact{
padding-right: 200px;
}


.Address{
    color: white;
}



.Contact-Dialog .contactInput{
    display: flex;
    flex-direction: column;
}